h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 300%;
}

body {
  background-image: url("images/afro2.jpg") ;
  background-position: center;
  background-size: inherit;
  
}

.intro {
  color: rgb(78, 24, 24);
  border: 10px solid rgb(2, 59, 47);
  padding: 10px;
  margin: 20px;
  text-align: center;
}
.title {
  color: brown;
}